  .c {
    background: linear-gradient(to top, #000010, #000020, #000030, #000040, #000050);
    background-size: 200% 100vh;
  }
  .title {
    font-size: 3rem; 
    font-weight: bold; 
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  .gametext {
     margin-left: 30px;
     color:#454545;
  }
   .gametext1 {
     margin-left: 20px;
     color:#454545;
  }
   .gametext2 {
     margin-left: 30px;
     
  }
  
   

.hamachi {|
font-size: 3px; 
    font-weight: bold; 
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
